{$DOMAIN_NAMES} {
  reverse_proxy {
    dynamic k8s_node {
      node_name_prefix {$NODE_NAME_PREFIX}
    }

    lb_try_duration 3s
    lb_try_interval 500ms

    fail_duration 60s
    unhealthy_status 5xx
    unhealthy_latency 1s
  }
}
