{$DOMAIN_NAMES} {
  reverse_proxy {
    dynamic k8s_node {
      node_name_prefix {$NODE_NAME_PREFIX}
    }

    lb_retries 1
    lb_try_duration 5s
    lb_try_interval 2s

    fail_duration 30s
    unhealthy_status 502
    unhealthy_latency 2s
  }
}
