{$DOMAIN_NAMES} {
  log {
    level DEBUG
  }
  reverse_proxy {
    dynamic k8s_node {
      node_name_prefix {$NODE_NAME_PREFIX}
    }

    lb_retries 2

    fail_duration 5s
    max_fails 2
    unhealthy_status 502
    unhealthy_latency 5s
  }
}
